* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;

  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 4vh;
  padding-bottom: 3vh;
}
.task-bar {
  height: 10vh;
  width: 100vw;
  background-color: #2c0e3a;
  display: flex;
  align-items: center;

  padding-left: 7vh;
  padding-right: 7vh;
  justify-content: space-between;
}
.website-logo {
  height: 6vh;
}
.score-timer-container {
  display: flex;
  align-items: center;
}
.score {
  color: #ffffff;
  font-size: small;
}
.span-score {
  color: #fec653;
  font-size: medium;
  margin-left: 2vh;
}
.timer-image {
  height: 3vh;
}
.trophy {
  margin-top: 26vh;
  height: 25vh;
  margin-bottom: 2vh;
}
.timer-container {
  display: flex;
  align-items: center;
  margin-left: 3vh;
}
.random-image {
  height: 45vh;
  width: 50vw;
  margin-bottom: 4vh;
}

.tabs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  margin-right: 20px;
  margin-bottom: 4vh;
}
.list-button {
  list-style-type: none;
  margin-right: 2vh;
}
.tab-button {
  border-style: none;
  background-color: transparent;
  color: #ffffff;
  font-size: medium;
}
.thumnail-image {
  height: 16vh;
  width: 18vh;
  margin: 1vh;
}
.thumbnails-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 1vh;
}
.game-over-contaier {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  height: 90vh;
  width: 60vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.paly-again-button {
  display: flex;
  align-items: center;
  color: #ffffff;
  background-color: #2c0e3a;
}
.reset-image {
  height: 3vh;
}

@media only screen and (max-width: 767px) {
  .random-image {
    height: 35vh;
    width: 80vw;
  }
  .game-over-contaier {
    background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
    height: 80vh;
    width: 80vw;
    justify-self: flex-start;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.score-styling {
  font-size: large;
  color: #ffffff;
  margin-bottom: 2vh;
}
